@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 225.9 62% 95%;
  --foreground: 225.9 5% 10%;
  --card: 225.9 50% 90%;
  --card-foreground: 225.9 5% 15%;
  --popover: 225.9 62% 95%;
  --popover-foreground: 225.9 95% 10%;
  --primary: 225.9 70.7% 40.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 225.9 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 187.9 30% 85%;
  --muted-foreground: 225.9 5% 40%;
  --accent: 187.9 30% 80%;
  --accent-foreground: 225.9 5% 15%;
  --destructive: 0 62% 49%;
  --destructive-foreground: 225.9 5% 90%;
  --border: 225.9 30% 50%;
  --input: 225.9 30% 49%;
  --ring: 225.9 70.7% 40.2%;
  --radius: 0.5rem;
}
.dark {
  --background: 225.9 50% 10%;
  --foreground: 225.9 5% 90%;
  --card: 225.9 50% 10%;
  --card-foreground: 225.9 5% 90%;
  --popover: 225.9 50% 5%;
  --popover-foreground: 225.9 5% 90%;
  --primary: 225.9 70.7% 40.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 225.9 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 187.9 30% 25%;
  --muted-foreground: 225.9 5% 60%;
  --accent: 187.9 30% 25%;
  --accent-foreground: 225.9 5% 90%;
  --destructive: 0 62% 49%;
  --destructive-foreground: 225.9 5% 90%;
  --border: 225.9 30% 49%;
  --input: 225.9 30% 49%;
  --ring: 225.9 70.7% 40.2%;
  --radius: 0.5rem;
}
